{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="up" >
    <h1>42 Coffee Cups Test Assignment</h1>
</div>
<div class="authenticate">
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout-account' %}" class="base"> Logout  </a>
    {% else %}
        <a href="{% url 'accounts-registration' %}" class="base">&#160 Sign Up &#160  </a>
        <a href="{% url 'login-account' %}" class="base"> Login  </a>
    {% endif %}
</div>
<div class="container">
<form action="./" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="center">
        <div class="pull_left">
            <strong id="name"> Name :</strong> {{ form.name }}<br />
            <strong id="surname"> Last name:</strong> {{ form.surname }}<br />
            <strong>Date of birth:</strong> {{ form.birth_date }}<br />
            <h3><strong>Photo:</strong> {{ form.photo }}<br />
        </div>
        <div class="pull_right">
            <h3>Contacts:</h3>
            <strong>E-mail:</strong> {{ form.e_mail }}<br />
            <strong>Jabber:</strong> {{ form.jid }}<br />
            <strong> Skype :</strong> {{ form.skype }}<br />
            <h3><strong>Other contacts:</strong></h3>
            <strong>Mob:</strong> {{ form.mob }}<br />
            <h3><strong>BIO:</strong></h3> {{ form.bio }}<br />
        </div>
        <div class="c_down">
            <input type="submit" value="Save" />
            <a href="{% url 'home' %}" class="base"> Cancel </a>
        </div>
    </div>
</form>
    <div class="pull_left">
    <a href="{% url 'requests' %}" class="base"> Requests </a>
    </div>
</div>
{% endblock %}